<div class="form-container">
  <h1>My Form</h1>
  <div class="form">

    <form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">

      <label for="name">Name: </label>
      <input type="text" ngModel name="Name" required/>
      <br />

      <label for="address">Address: </label>
      <input type="text" ngModel name="Address" required/>

      <br />

      <label for="Gender">Specify your gender:</label>
      <input type="radio" ngModel name="Gender" value="male"><label for="male">Male</label>
      <input type="radio" ngModel name="Gender" value="female"><label for="female">Female</label>

      <br />
      <label for="vehicle">What do you have?</label>
      <input type="checkbox"  ngModel name="vehicle" value="Bike"><label for="Bike">bike</label><br>
      <input type="checkbox"  ngModel name="vehicle" value="Car"><label for="Car">car</label>
      <br />
      <label for="uploadfile">Upload your Adhaar Card:</label><input type="file" name="uploadfile" accept="image/png, image/jpeg" />
        <br />
        <br />


      <button>Submit</button>
    </form>
  </div>
</div>

<div class="table-container">
  <table>
    <thead *ngIf="userData.length>0">
      <tr>
        <th *ngFor="let header of dataHeaders">
          {{header}}
        </th>
        <!-- <th>
          actions
        </th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of userData, let i = index">
        <td>
          {{x.Name}}
        </td>
        <td>
          {{x.Address}}
        </td>
        <td>
          {{x.Gender}}
        </td>
        <td>
          {{x.vehicle}}
        </td>

        <td>
          <button (click)="deleteRow(i);">Delete</button>
          <button (click)="editRow(i);">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <div class="table-row">
    <div class="table-col" >
      {{i}}
    </div>
    <div class="table-col" >
      {{x.name}}
    </div>
    <div class="table-col" >
      {{x.address}}
    </div>
  </div> -->
</div>
