<div class="form-container">
  <h1>My Form</h1>
  <div class="form">

    <form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">

      <label for="name">Name: </label>
      <input type="text" ngModel name="Name" required/>
      <br />

      <label for="address">Address: </label>
      <input type="text" ngModel name="Address" required/>

      <br />
      <br />


      <label for="Gender">Specify your gender:</label>
      <br />
      <div class="label-container">
        <label for="male">Male</label><input type="radio" ngModel name="Gender" value="male" />
      </div>
      <div class="label-container">
        <label for="female">Female</label><input type="radio" ngModel name="Gender" value="female" />
      </div>
      <br />
      
      <label for="vehicle">What do you have?</label>
      <br />
      <div class="label-container">
        <label for="Bike">bike</label><input type="checkbox"  ngModel name="vehicle" value="Bike" />
      </div>

      <div class="label-container">
        <label for="Car">car</label><input type="checkbox"  ngModel name="vehicle" value="Car" />
      </div>
      <br />
      <div >
        <label for="uploadfile">Upload your Adhaar Card:</label>
        <input type="file" name="uploadfile" accept="image/png, image/jpeg" >
      </div>
        <br />
        <br />


      <button>Submit</button>
    </form>
  </div>
</div>

<div class="table-container">
  <table>
    <thead *ngIf="userData.length>0">
      <tr>
        <th *ngFor="let header of dataHeaders">
          {{header}}
        </th>
        <!-- <th>
          actions
        </th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of userData, let i = index">
        <td>
          {{x.Name}}
        </td>
        <td>
          {{x.Address}}
        </td>
        <td>
          {{x.Gender}}
        </td>
        <td>
          {{x.vehicle}}
        </td>

        <td>
          <button (click)="deleteRow(i);">Delete</button>
          <button (click)="editRow(i);">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <div class="table-row">
    <div class="table-col" >
      {{i}}
    </div>
    <div class="table-col" >
      {{x.name}}
    </div>
    <div class="table-col" >
      {{x.address}}
    </div>
  </div> -->
</div>
