/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-bootstrap-md/assets/scss/bootstrap/bootstrap.scss";


*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    button{
        padding: 2px 10px;
        border-radius: 4px;
        border: 1px solid black;
    }
}